.terminal{
    width: 48%;
    min-height: 100vh;
    color: #fff;
    
}
@media (max-width:500px) {
    .terminal{
        width:unset;

    }
    
}
@media (max-width:350px) {
    .terminal{
        margin-left:0;
        margin-right:0;
    }
    
}